.ShippingAddress input[type='text'],
input[type='email'] {
  margin-bottom: 20px;
}

.ShippingAddress img {
  width: 100%;
}

.ShippingAddress .productDetails {
  margin-bottom: 20px;
}

.ShippingAddress .productDetails p,
.ShippingAddress .productDetails h4 {
  padding-left: 20px;
  padding-bottom: 10px;
}

.ShippingAddress .productDetails p {
  font-size: 12px;
  color: #999;
}

.ShippingAddress .productDetails .salesPrice {
  font-weight: 400;
}
