.ProductDetails img {
  border-style: none;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.ProductDetails .salesPrice {
  font-size: 20px;
}

.ProductDetails .retailPrice {
  color: #999;
  text-decoration: line-through;
}
